/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Corpo */
body {
    background-color: black;
    color: orange;
    font-family: 'Press Start 2P', cursive;
    font-size: 12px;
    text-align: center;
    overflow-x: hidden;
}

.undertale-header {
    padding: 20px 10px;
    text-align: center;
}

.undertale-logo {
    max-width: 150px;
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.menu-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.menu-item {
    font-size: 0.8rem;
}

.title {
    font-size: 2rem;
    color: #f97504;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    margin-bottom: 15px;
}
/* CONTAINER DE CENAS */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px auto;
    width: 90%;
    max-width: 800px;
}

/* CENA */
.scene {
    width: 50%;
    height: 300px; 
    margin-bottom: 25px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.scene img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* mantém proporção, corta se necessário */
    border: 2px solid white;
    border-radius: 8px;
}

.scene p {
    margin-top: 10px;
    font-size: 14px;
    line-height: 1.4;
    width: 90%;
    max-width: 600px;
    text-align: center;
}
