body {
    background-color: black;
    color: white;
    font-family: 'Press Start 2P', cursive;
    background-image: url('imagem-de-fundo.jpg');
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
}

/* header config*/
body {
    padding-top: 100px; 
}


.navbar {
    font-size: 1rem;
    background-color: transparent !important; 
}

.navbar-brand span {
    color: white;
    font-family: 'Press Start 2P', cursive;
}

.undertale-logo {
    max-width: 150px;
    height: auto;
}

.navbar-nav {
    gap: 30px; 
    display: flex; 
}

.navbar-nav .nav-link {
    color: white;
    font-family: 'Press Start 2P', cursive;
    font-size: 0.8rem;
    transition: color 0.2s, transform 0.2s;
}

.navbar-nav .nav-link:hover {
    color: #f97504;
    transform: scale(1.1);
}

.navbar-nav .nav-link.active {
    color: #f97504;
}


.navbar-nav .nav-link.active {
    color: #f97504;
}

.title {
    font-size: 3rem;
    color: #f97504;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    margin-bottom: 20px;
}
/* header config*/

.description {
    font-size: 1.2rem;
    color: white;
    margin-top: 20px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.start-button {
    font-size: 1.5rem;
    padding: 20px;
    color: #f97504;
    background-color: #000;
    border: 2px solid #f97504;
    text-decoration: none;
    transition: background-color 0.3s, transform 0.3s;
    margin-top: 30px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
}

.start-button:hover {
    background-color: #f97504;
    color: black;
    transform: scale(1.1);
}

@media (min-width: 1024px) {
    .title {
        font-size: 4rem;
        margin-bottom: 30px;
    }

    .description {
        font-size: 1.5rem;
        margin-top: 30px;
    }

    .start-button {
        font-size: 1.8rem;
        padding: 25px;
    }

    .undertale-logo {
        max-width: 200px;
    }
}
